
@font-face {font-family: "1251 Regular";
  src: url("./fonts/1251-regular/ddbb2b3a4396b82014e6eb52e87b60a1.eot"); /* IE9*/
  src: url("./fonts/1251-regular/ddbb2b3a4396b82014e6eb52e87b60a1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/1251-regular/ddbb2b3a4396b82014e6eb52e87b60a1.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/1251-regular/ddbb2b3a4396b82014e6eb52e87b60a1.woff") format("woff"), /* chrome、firefox */
  url("./fonts/1251-regular/ddbb2b3a4396b82014e6eb52e87b60a1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/1251-regular/ddbb2b3a4396b82014e6eb52e87b60a1.svg#1251 Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "GothicE";
  src: url("./fonts/gothic/31cbca329b3430532a0dacb1d1cc1452.eot"); /* IE9*/
  src: url("./fonts/gothic/31cbca329b3430532a0dacb1d1cc1452.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/gothic/31cbca329b3430532a0dacb1d1cc1452.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/gothic/31cbca329b3430532a0dacb1d1cc1452.woff") format("woff"), /* chrome、firefox */
  url("./fonts/gothic/31cbca329b3430532a0dacb1d1cc1452.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/gothic/31cbca329b3430532a0dacb1d1cc1452.svg#GothicE") format("svg"); /* iOS 4.1- */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*{
	margin :	0;
	padding:	0;
	box-sizing: border-box;


	--bitter-lime : #B5f70eff;
	--lime : #07fc03;
	--black: #000000;
	--bitter-yellow : #fcde03;
	--purple : #b40ff7;
	--light-purple : #984df8;
	--blue : #401bf7;
	--dark-blue : #331BAB;
	--pink : #f70284;
}
a,
p,
h1,
h2,
h3{
	color : var(--lime);
	cursor : default;
}
.font-regular {
	font-family : "Roboto", sans-serif;
}
.font-gothic{
	font-family: "GothicE";
}
.font-futuristic {
	font-family : "1251 Regular";
}
.flex {
	display : flex;
}
.flex-cn-e{
	justify-content: center;
	align-items: center;
}

.container{
	display : flex;
	justify-content: center;
	align-items: center;
}

body{
	max-height : auto;
}

#poster {
	padding : .5rem .5rem;
	max-width : 46.875rem;
	margin: 0.9375rem 0;
	justify-content: center;
	background  : var(--black);
}
.header{
	font-size : 6rem;
}
.subheader_line{
	margin-right: .7rem;
	width : 60%;
	height : 0.0625rem;
	background-color : var(--lime);
	border-radius : 0.125rem ;
}
.subheader{
	font-size : 1.3rem;
}
.link__img{
	width : 6.25rem;
	height: 6.25rem;
	color : pink;
	background-color : red;
}

.dec__icon1{
	width : 100%;
	height : 100%;
	background-color : var(--bitter-lime);
}

.disc{
	flex:0 0 1rem;
	min-width: 0;
	display : flex;
	justify-content: center;
	align-items: center;

}
.disc >span{
	transform : rotate(-90deg);
	font-size : 1.4rem;
	font-family : "Roboto", sans-serif;
	white-space : nowrap;
	color : var(--lime);
}
.content1{
	width : 98%;
	height: 25rem;
}

.row-third{
	margin: 0.935rem 0;
}
.content2{
	width:40%;
	height:15.625rem;
}
.story{
	width : 60%;
}

.links__div{
	background-image : url(./src/images/globe-wireframe.svg);
	background-position: center;
	background-size: cover;
	background-color : var(--blue);
	width : 70%;
}

.links__title{
	font-family : "GothicE";
	text-align : center;
	font-size : 5rem;
	margin-bottom : .5rem;
	margin-top : 1rem;
	color : var(--bitter-yellow);
}

.links_ul {
	justify-content: space-around;
	align-items: center;
}
.link_el{
	list-style :none;
	cursor :pointer;
}
.link_el > a{
	text-decoration: none;
	text-align : center;
}
.link__p{
	margin-top : .2rem;
	color : var(--bitter-lime);
	font-weight : 800;
}
.decorative1{
	width : 30%;
	height : auto;
}
.dec_icon1{
	width : 100%;
	height : 100%;
	object-fit: cover;
}
.story  {
	padding : .5rem .5rem;
}
.story__header{
	text-transform: capitalize;
	font-family : "Roboto", sans-serif;
	font-size: 1.9rem;
	font-weight: 800;
	margin-bottom : .6rem;
	line-height: 1.8rem;

}
.story__disc {
	font-weight: 400;
	line-height: 1.2rem;
	filter : brightness(75%);
}

.row-forth{
	height : auto;
}

@media (max-width : 750px){
	#poster{
		max-width : 100vw;
		background-color : black;
	}
	.disc > span{
		 visibility: hidden;
		 width : 0%;
	}
	.header {
		font-size : 3.9rem;
	}
	.content1{
		width : 100%;
	}
	.row-third{
		margin: 0.935rem 0;
		flex-direction: column;
	}
	.subheader_line{
		margin-right: .7rem;
		width : 40%;
		height : 0.0625rem;
		background-color : var(--lime);
		border-radius : 0.125rem ;
	}
	.subheader{
		font-size : 1.1rem;
	}
	.story{
		width : 100%;
	}
	.link__img{
		width : 9.65rem;
		height: 9.65rem;
		color : pink;
		background-color : red;
	}
	.links_ul{
		flex-direction: column;
		width : 100%;
	}
	.links__div{
		width : 100%;
		margin-bottom : .8rem;
	}
	.decorative1{
		width : 100%;
	}
	.row-forth{
		flex-wrap: wrap;
	}
	.content2{
		width : 100vw;
	}
	.row-third {
		flex-direction : column-reverse;
	}
}
